.container {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.error {
  border: 2px solid red;
  padding: 1rem;
  color: red;
  font-weight: 500;
  border-radius: 8px;
}

.noResults {
  border: 2px solid var(--color-black);
  padding: 1rem;
  border-radius: 8px;
  font-weight: 500;
  text-align: center;
}

.searchContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.searchInput {
  width: 100%;
  max-width: 400px;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
}
.searchInput:focus {
  outline: none;
  border-color: #4e7cf4;
  box-shadow: 0 0 4px rgba(78, 124, 244, 0.4);
}

